
h1{
 color:black;
 background: -webkit-gradient(linear, left top, right bottom, from(aquamarine), to(rgba(253, 39, 242, 0.794))) fixed;

 }
 footer {
  position:absolute;
  bottom:0;
  width:100%;
}
