img { 
  max-width:800px;
    width: auto;
    height: auto; }
.paisagem1 {
  max-width:350px;
  width: auto;
  height: auto;
}
.paisagem2 {
  max-width:800px;
  width: auto;
  height: auto;
}